.splash_container {
  width: 100%;
  height: 720px;
  background: linear-gradient(#6749aa, #301a60);
  .background_images {
    .top_left_square {
      background: url("../assets/images/square.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      top: 0px;
      left: 0px;
      width: 374px;
      height: 191px;
    }
    .bottom_left_weed {
      background: url("../assets/images/weed.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      // top: 563px;
      top: 549px;
      left: 0px;
      width: 176px;
      height: 171px;
      overflow: hidden;
    }
    .bottom_right_weed {
      background: url("../assets/images/weed.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      top: 411px;
      // right: -25px;
      right: 0px;
      width: 176px;
      height: 171px;
      overflow: hidden;
    }
  }
  .content {
    .logo_container {
      display: flex;
      align-items: center;
      justify-content: center;
      .logo_name {
        background: url("../assets/images/logo_name.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 78px;
        width: 237px;
        height: 90px;
      }
      .logo_background {
        position: absolute;
        top: 200px;
        width: 181px;
        height: 181px;
      }
      .logo_background1 {
        background: url("../assets/images/logo_background.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        width: 181px;
        height: 181px;
      }
      .logo {
        background: url("../assets/images/logo.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 245px;
        width: 94px;
        height: 91px;
      }      
    }
    .text_container {
      display: flex;
      align-items: center;
      justify-content: center;
      .text_version {
        position: absolute;
        color: #fff;
        top: 414px;
        width: 348px;
        font-size: 22px;
        text-align: center;
      }
      .text_green {
        color: #7bff77;
      }
      .text_description {
        position: absolute;
        top: 464px;
        width: 356px;
        font-size: 18px;
        color: #fff;
        text-align: center;
      }
    }
    .copyrights_container {
      display: flex;
      align-items: center;
      justify-content: center;
      .copyrights_label {
        position: absolute;
        top: 690px;
        width: 220px;
        font-size: 10px;
        text-align: center;
        color: #cecece;
        opacity: 0.6;
      }
    }
  }
}
